@model IEnumerable<TasinmazBagisci>

@{
    ViewData["Title"] = "Taşınmaz Bağışçılar";
}

<h2>Personele Tahsisli Malzemeler</h2>
<table class="table">
    <thead>
        <tr>
            <th>Personel</th>
            <th>Düzenle/Sil</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item?.Adi @item?.Soyadi </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    
                    <button class="btn btn-danger open-confirm-modal"
                            data-id="@item.Id"
                            data-url="@Url.Action("Delete", "TasinmazBagisci", new { id = item.Id })"
                            data-title="Silme onayı"
                            data-message=" <strong>@(item?.Adi ?? "Bilinmeyen") @(item?.Soyadi ?? "")</strong>
                            isimli bağışçı silinecek,  işlemi onaylıyor musunuz?">
                        Sil
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Yeni Bağışçı</a>
@* Include the reusable confirmation modal *@
@* @{
    await Html.PartialAsync("_ConfirmationModal");
} *@
@section Scripts {
    @{
        <partial name="_ConfirmationModal" />
    }
    <script src="~/js/confirmationModal.js"></script>
}

