@using Microsoft.AspNetCore.Html;
@model PersonelMenuVM

@{
    ViewData["Title"] = " Menü Yetkileri - " + @Model.Personel.Adi + " " + @Model.Personel.Soyadi;
}

<div class="jenga-container">
    <div class="">


        <div class="row">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">@ViewData["Title"]</h4>
            </div>
        </div>
        <form asp-action="Edit">
            <div class="card">
                <div class="jenga-card">
                    <div class="form-group">
                        <ul>
                            @foreach (var menuTanimVM in Model.MenuTanimList.ToList())
                            {

                                var isChecked = Model.SelectedMenuTanimList.Any(x => x.Id == menuTanimVM.MenuTanim.Id);

                                <li>
                                    <input type="checkbox" name="MenuTanimIds" value="@menuTanimVM.MenuTanim.Id" checked="@isChecked" />
                                    <label>@menuTanimVM.MenuTanim.Adi</label>
                                    @if (menuTanimVM.SubMenu.Any())
                                    {
                                        <ul>
                                            @RenderSubMenu(menuTanimVM.SubMenu)
                                        </ul>
                                    }
                                </li>

                            }
                        </ul>

                        @functions {
                            IHtmlContent RenderSubMenu(List<MenuTanimVM> subMenuItems)
                            {
                                foreach (var subMenuItem in subMenuItems)
                                {
                                    var isChecked = Model.SelectedMenuTanimList.Any(x => x.Id == subMenuItem.MenuTanim.Id);
                                    <li>

                                        <input type="checkbox" name="@subMenuItem.MenuTanim.Id" id="@subMenuItem.MenuTanim.Id" value="@subMenuItem.MenuTanim.Id" checked="@isChecked" />
                                        <label>@subMenuItem.MenuTanim.Adi</label>
                                        @if (subMenuItem.SubMenu.Any())
                                        {
                                            <ul>
                                                @RenderSubMenu(subMenuItem.SubMenu)
                                            </ul>
                                        }
                                    </li>
                                }
                                return null;
                            }
                        }

                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="hidden" asp-for="Personel.Id" />
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
