@model IEnumerable<Ozellik>
@{
    ViewData["Title"] = "Index";
}

<div class="container shadow p-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Özellik Tanımları</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="Ozellik" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Yeni Özellik Tanımı
            </a>
        </div>
    </div>
    <hr />
    <div class="pt-3">
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Tanımı
                    </th>
                    <th>
                        Miktar
                    </th>
                    <th>
                        Ölçü Birimi
                    </th>
                    <th>
                        Açıklama
                    </th>
                    <th>
                        Düzenle/Sil
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="20%">
                            @obj.Adi
                        </td>
                        <td width="10%">
                            @obj.Miktar
                        </td>                        
                        <td width="10%">
                            @obj.OlcuBirimi
                        </td>                        
                        <td width="30%">
                            @obj.Aciklama
                        </td>

                        <td width="20%">
                            <div class="btn-group" role="group">
                                <a asp-controller="Ozellik" asp-action="Edit" asp-route-id="@obj.Id"
                               class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Düzenle
                                </a>
                                <a asp-controller="Ozellik" asp-action="Delete" asp-route-id="@obj.Id"
                               class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Sil
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
