@model IEnumerable<Zimmet>

@{
    ViewData["Title"] = "Personele Tahsisli Malzemeler";
}

<h2>Personele Tahsisli Malzemeler</h2>
<table class="table">
    <thead>
        <tr>
            <th>Personel</th>
            <th>Malzeme</th>
            <th>Adet</th>
            <th>Çıkış Yeri</th>
            <th>Tarih</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Personel?.Adi @item.Personel?.Soyadi </td>
                <td>@item.Malzeme?.Adi</td>
                <td>@item.Adet</td>
                <td>@item.MalzemeYeriTanim?.Adi</td>
                <td>@item.Tarih.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    
                    <button class="btn btn-danger open-confirm-modal"
                            data-id="@item.Id"
                            data-url="@Url.Action("Delete", "Zimmet", new { id = item.Id })"
                            data-title="Silme onayı"
                            data-message=" <strong>@(item.Personel?.Adi ?? "Bilinmeyen") @(item.Personel?.Soyadi ?? "")</strong>
                            isimli personele tahsisli <strong>@item.Adet adet @(item.Malzeme?.Adi ?? "Malzeme")</strong> silinecek, ve malzeme çıktığı depoya iade edilecek, işlemi onaylıyor musunuz?">
                        Sil
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Yeni Tahsis Yap</a>
@* Include the reusable confirmation modal *@
@* @{
    await Html.PartialAsync("_ConfirmationModal");
} *@
@section Scripts {
    @{
        <partial name="_ConfirmationModal" />
    }
    <script src="~/js/confirmationModal.js"></script>
}

