@page "/inventory/material-exit-manager"
@rendermode InteractiveServer
@using Jenga.BlazorUI.Components.Inventory
@using Jenga.DataAccess.Services.Inventory
@using Jenga.Models.Inventory
@inject IMaterialExitService MaterialExitService
@inject IMaterialService MaterialService
@inject IMaterialUnitService MaterialUnitService
@inject ILocationService LocationService
@inject IMaterialInventoryService MaterialInventoryService
@inject IJSRuntime JS

<h3>Malzeme Çıkış Yönetimi</h3>

<MaterialExitListComponent
    MaterialExits="@materialExits"
    Materials="@materials"
    MaterialUnits="@units"
    Locations="@locations"
    MaterialInventories="@materialInventories" />

@code {
    private List<MaterialExit> materialExits = new();
    private List<Material> materials = new();
    private List<MaterialUnit> units = new();
    private List<Location> locations = new();
    private List<MaterialInventory> materialInventories = new();

    private bool _dataLoaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_dataLoaded)
        {
            materialExits = await MaterialExitService.GetAllAsync();
            materials = await MaterialService.GetAllAsync();
            units = await MaterialUnitService.GetAllAsync();
            locations = await LocationService.GetAllAsync();
            materialInventories = await MaterialInventoryService.GetAllAsync();
            _dataLoaded = true;
            StateHasChanged();
            await JS.InvokeVoidAsync("initMaterialTableWithExport");
        }
    }
}